* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;;
}

.container {
    display: flex;
    flex-direction: column;
}

.box1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 150px 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-right: 10px;
}

li

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(122, 122, 122);
}

.content1 {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    margin-top: 20px;
    gap: 120px;
    text-align: center;
}

.text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    justify-content: space-evenly;
}

.text1 h1 {
    margin-bottom: 0px;
}

.text1 button {
    font-size: 15px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
    border: none;
}

.content1 img {
    width: 500px;
}

.box2 {
    padding: 0 150px 20px;
    text-align: center;
    background-color: white;
}

h1 {
    padding: 8px;
    margin: 8px 8px 16px 8px;
    color: #1F2937;
}

.content2 {
    display: flex;
    justify-content: space-around;
}

.subbox {
    flex-basis: 150px;
}

.subbox img {
    width: 150px;
    height: 150px;
}

.minititle {
    margin: 5px 0;
}

.box3 {
    background-color: #E5E7EB;
    padding: 20px 160px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

.box4 {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.subcontainer2 {
    padding: 10px;
    color: white;
    background-color: #1F2937;
    text-align: center;
}

.subcontainer1 {
    background-color: #3882f6;
    color: white;
    display: flex;
    margin: 20px 300px;
    padding: 40px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.subcontainer1 button {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid white;
}