* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.box1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 150px 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-right: 10px;
}

li

a {
    color: white
}

.content1 {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    margin-top: 50px;
    gap: 135px;
}

.text1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; 
}

.text1 h1 {
    margin-bottom: 5px;
}

.text1 button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
}

.content1 img {
    width: 500px;
}

.box2 {
    padding: 0 150px 15px;
    text-align: center;
}

h1 {
    padding: 8px;
    margin-bottom: 8px;
    color: #1F2937;
}

.content2 {
    display: flex;
    justify-content: space-around;
}

.subbox {
    flex-basis: 150px;
}

.subbox img {
    width: 150px;
    height: 150px;
}


.box3 {
    background-color: #E5E7EB;
    padding: 20px 150px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

.size3 {
    font-size: 24px;
}